<table>
  <tr>
    <th>Номер вопроса</th>
    <th>Ответ</th>
    
  </tr>
<% changeable = can_submit_disp? @event %>
<% @disputeds.each do |disputed| %>
  <tr>
    <td><%=h disputed.question_index %></td>
    <td><%=h disputed.answer %></td>
    <% if changeable %>
      <td><%= link_to 'Изменить', edit_event_disputed_path(@event, disputed) %></td>
      <td><%= link_to 'Удалить', disputed, :confirm => 'Вы уверены?', :method => :delete%></td>
    <% end %>
  </tr>
<% end %>
</table>
<p><%= link_to "Экспортировать в CSV", formatted_game_disputeds_path(@game, "csv") %></p>

<br />
<% if changeable %>
<%= render :partial => "input" %>
<% end %>
