<h1>Спорные ответы / <%= link_to @parent.to_s, @parent %></h1>

<table>
  <tr>
    <th>Номер вопроса</th>
    <th>Ответ</th>
    
  </tr>
<% changeable = @event && @event.is_modifiable?('disp') %>
<% @disputeds.each do |disputed| %>
  <tr>
    <td><%=h disputed.question_index %></td>
    <td><%=h disputed.answer %></td>
    <% if changeable %>
      <td><%= link_to 'Изменить', edit_event_disputed_path(@event, disputed) %></td>
      <td><%= link_to 'Удалить', disputed, :confirm => 'Вы уверены?', :method => :delete%></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if changeable %>
<%= render :partial => "input" %>
<% end %>
