<h1>Регистрация пользователя</h1>
<h5>Регистрация необходима исключительно организаторам турниров и представителям. Если Вы хотите таким стать, будьте добры, зарегистрируйтесь. 
Если Вы хотите зарегистрироваться как организатор, после регистреции обязательно напишите администратору (<%= @admin.email if @admin %>), чтобы он создал страницу 
турнира на сайте и дал Вам соответствующие права.</h5>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Фамилия, имя" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Пароль" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Зарегистрироваться' %>
  </p>
<% end %>

<%= link_to_function 'Назад', 'history.back()' %>