<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<h3>Введите новый пароль для <%= @user.email %></h3>
<p>Пароль: <%= f.password_field :password %></p>
<p>Еще раз:<%= f.password_field :password_confirmation %></p>
<p><%= submit_tag 'Сохранить' %></p>
<% end -%>