<% form_for(@tournament) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Название" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Организатор" %><br />
    <%= f.select :user_id, @users.collect {|u| [ u.to_s, u.id ] } %>
  </p>
  <p>
    <%= f.label "Нужны ли составы?" %><br />
    <%= f.check_box :needTeams %>
  </p>
  <p>
    <%= f.label "Принимаются ли апелляции на снятие?" %><br />
    <%= f.check_box :appeal_for_dismiss %>
  </p>
 <p>
    <%= f.label "Города-участники" %><br />
      <% for c in @cities -%>
         <%= check_box_tag "tournament[city_ids][]", c.id, city(c) %>
         <%= c.name -%>
      <% end -%>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>