<% form_for(@tournament) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Название" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Организатор" %><br />
    <%= f.select :user_id, @users.collect {|u| [ u.to_s, u.id ] } %>
  </p>
  <p>
    <%= f.label "Нужны ли составы?" %><br />
    <%= f.check_box :needTeams %>
  </p>
  <p>
    <%= f.label "Принимаются ли апелляции на снятие?" %><br />
    <%= f.check_box :appeal_for_dismiss %>
  </p>
  <p>
    <%= f.label "Система подсчета результатов" %><br />
    <%= collection_select(:tournament, :calc_system_id, CalcSystem.all, :id, :name) %> 
  </p>
 <p>
    <%= f.label "Города-участники" %><br />
      <% for c in @cities -%>
         <%= check_box_tag "tournament[city_ids][]", c.id, city(c) %>
         <%= c.name -%>
      <% end -%><br />
Если список потенциальных городов-участников неполон, вы можете дополнить его <%= link_to 'здесь', cities_path %>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>
<%= link_to_function 'Назад', 'history.back()' %>