<h1>Турниры</h1>

<% if @tournaments.length > 0 %>
<table>
  <tr>
    <th>Название</th>
    <th>Email оргкомитета</th>
    <th>Составы?</th>
    <th>Апелляции на снятие?</th>
  </tr>

<% @tournaments.each do |t| %>
  <tr>
    <td><%=h t.name %></td>
    <td><%=h t.org_email %></td>
    <td><%=h t.needTeams %></td>
    <td><%=h t.appeal_for_dismiss %></td>
    <td><%= link_to 'Детали', t %></td>
	<td><%= link_to 'Этапы', tournament_games_path(t) %></td>
	<td><%= link_to 'Новый этап', new_tournament_game_path(t) if org?(t) %></td>
    <td><%= link_to 'Изменить параметры', edit_tournament_path(t) if admin? %></td>
    <td><%= button_to "Удалить #{t.name}", t, :confirm => 'Вы уверены?', :method => :delete if admin? %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'Новый турнир', new_tournament_path if admin? %>