<% if @tournaments.length > 0 %>
<table>
  <tr>
    <th>Название</th>
    <th>Организатор</th>
    <th>Этапы</th>
  </tr>

<% @tournaments.each do |t| %>
  <tr>
    <td><%= link_to t.name, t %></td>
    <td><%=h t.user %></td>
    <td>
		<% t.games.sort_by_nilable(:begin).each do |game| %>
			<%= link_to game.name, game_path(game) %>
		<% end %>
	</td>
	<td>
		<%= link_to 'Новый этап', new_tournament_game_path(t) if is_org? t %>
    	<%= link_to 'Изменить', edit_tournament_path(t) if is_org? t %>
    	<%= link_to "Удалить", t, :confirm => 'Вы уверены?', :method => :delete if is_admin? %>
	</td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'Новый турнир', new_tournament_path if is_admin? %>