<p>
  <b>Название:</b>
  <%=h @tournament.name %>
</p>
<p>
  <b>Организатор:</b>
  <%=h @tournament.user -%>
</p>
<p>
  <b>Составы нужны?</b>
  <%=h @tournament.needTeams %>
</p>
<p>
  <b>Принимаются ли апелляции на снятие?</b>
  <%=h @tournament.appeal_for_dismiss %>
</p>
<p>
  <b>Города-участники:</b>
   <%=h @tournament.cities.sort{|x,y| x.name <=> y.name }.map(&:name).join(', ') %>
 </p>
<%= link_to 'Изменить', edit_tournament_path(@tournament) if is_org? @tournament %>
<%= render :partial => 'games/index'%>
