<p>
  <b>Название:</b>
  <%=h @tournament.name %>
</p>
<p>
  <b>Организатор:</b>
  <%=h @tournament.user -%>
</p>
<p>
  <b>Составы нужны?</b>
  <%=h @tournament.needTeams.loc %>
</p>
<p>
  <b>Принимаются ли апелляции на снятие?</b>
  <%=h @tournament.appeal_for_dismiss.loc %>
</p>
<p>
  <b>Требуется ли фамилия капитана при внесении результатов?</b>
  <%=h @tournament.cap_name_required.loc %>
</p>
<p>
  <b>Требуется ли время начала игры?</b>
  <%=h @tournament.time_required.loc %>
</p>
<p>
  <b>Возможные города-участники:</b>
   <%=h @tournament.every_city ? 'все' : @tournament.cities.map(&:name).sort.join(', ') %>
 </p>
<p>
	<b>Система подсчета результатов:</b>
	  <%=h @tournament.calc_system %>
</p>
<%= render :partial => "common/longtexts", :locals => {:longtexts => @tournament.longtexts} %>

<%= link_to 'Добавить текст', new_tournament_longtext_path(@tournament) if is_org? @tournament %>
<%= link_to 'Изменить', edit_tournament_path(@tournament) if is_org? @tournament %>
<%= link_to "Удалить", @tournament, :confirm => 'Вы уверены?', :method => :delete if is_admin? %>
<%= render :partial => 'games/index'%>
<p><%= link_to "поэтапные результаты", tournament_results_path(@tournament) %></p>