<a href="#" id="add_new_team_link">Добавить новую команду</a>
<% form_for @team, :html => { :id => 'add_new_team_form' } do |f|  %>
  <%= f.error_messages %>
  <%= f.hidden_field :event_id, :value => @event.id %>
  <p>
    <%= f.label "Город" %>
    <%= f.select :city_id, @cities.collect {|c| [c.to_s, c.id]}, :selected => @event.city_id %> 
  </p>
<%= render :partial => "new_result_index", :locals => {:f => f, :prefix => 'new' } %>
  <p>
    <%= f.label "Название" %><br />
    <%= f.text_field :name %>
  </p>
<%= render :partial => "new_result_cap", :locals => {:f => f, :prefix => 'new' } %>
<%= render :partial => "tag", :locals => {:f => f, :tag_id => '' } %>
  <p>
    <%= f.submit 'Добавить', :confirm => 'Вы уверены что этой команды нет в списке?' %>
  </p>
<% end %>
