<% t = @game.tournament %>
<% show_cap = t.cap_name_required || t.needTeams %>
<% show_tags = t.tags && t.tags.size > 0 %>
<table id="result_table">
  <tr>
<% if @event %>
	<th>#</th>
<% else %>
	<th>Место</th>
<% end %>

    <th>Команда</th>

<% if show_tags %>
	<th>Категория</th>
<% end %>

<% if show_cap %>
	<th>Капитан</th>
<% end %>
	<th>Город (команды)</th>
<% for i in 1..@game.num_tours %>
	<th>Тур <%= i %></th>
<% end %>
    <th>Сумма</th>
  </tr>

<% @results.each do |result| %>
  <tr>
<% if @event %>
	<td><%=h result.local_index %></td>
<% else %>
    <td><%=h result.place_to_s %></td>
<% end %>

    <td><%=h result.team.name %></td>

<% if show_tags %>
	<td><%=h result.tag %></td>
<% end %>

<% if show_cap %>
	<td><%=h result.get_cap_name %></td>
<% end %>

	<td><%=h result.team.city %></td>
<% for tour in 1..@game.num_tours %>
	<%= render :partial => "tour_result", :locals => {:result => result, :tour => tour, :suffix => 'summary'} %>
<% end %>
    <td id='team<%=result.team_id%>'><%=h result.score %></td>
<% if changeable %>
    <td><%= link_to 'Изменить', edit_result_path(result) %>
<%= link_to 'Удалить', result, :confirm => 'Вы уверены?', :method => :delete %>
	</td>
<% end %>
  </tr>
<% end %>
</table>
<br />

