<table id="result_table">
  <tr>
<% unless @event %>
	<th>Место</th>
<% end %>
    <th>Команда</th>
<% if @game.tournament.cap_name_required %>
	<th>Капитан</th>
<% end %>
	<th>Город (команды)</th>
	<th>Город (где играли)</th>
<% for i in 1..@game.num_tours %>
	<th>Тур <%= i %></th>
<% end %>
    <th>Сумма</th>
  </tr>

<% changeable = can_submit_results? @event %>
<% @results.each do |result| %>
  <tr>
<% unless @event %>
    <td><%=h result.place_to_s %></td>
<% end %>
    <td><%=h result.team.name %></td>
<% if @game.tournament.cap_name_required %>
	<td><%=h result.cap_name %></td>
<% end %>
	<td><%=h result.team.city %></td>
    <td><%=h link_to result.event.city.name, event_path(result.event) %></td>
<% for tour in 1..@game.num_tours %>
	<%= render :partial => "tour_result", :locals => {:result => result, :tour => tour, :suffix => 'summary'} %>
<% end %>
    <td id='team<%=result.team.id%>'><%=h result.score %></td>
<% if changeable %>
    <td><%= link_to 'Удалить', result, :confirm => 'Вы уверены?', :method => :delete %>
	<%= link_to 'Изменить данные команды', edit_result_path(result) if result.team.editable? %>
	</td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<% unless @event %>
<%= render :partial => "common/csv", :locals => {:path => game_results_path(@game, :format => :csv) } %>
<% end %>

<% if changeable %>
<%= render :partial => "event" %>
<% elsif @game %>
<%= render :partial => "game" %>
<% end %>

<%= link_to 'Готово, больше результатов нет', home_path %>
