<% changeable = can_submit_results? @event %>


<% if changeable %>
<div id="result_helpers">
<div id='add_new_team_div'>
<%= render :partial => "add_result_new" %>
</div>
<div id='add_listed_team_div'>
<%= render :partial => "add_result_listed" %>
</div>
<div id='how_to_import_div'>
<%= render :partial => "how_to_import" %>
</div>
</div>
<%= render :partial => "import_window" %>
<% end %>

<div id='result_table_div'>
	<%= render :partial => "result_table", :locals => {:changeable => changeable} %>
</div>

<% if changeable %>
<%= render :partial => "event" %>
<% elsif @game %>
<div class="right_menu_block">
<%= render :partial => "tour_navigator", :locals => {:game => @game, :current_tour => -1 } %>
<% unless @event %>
<%= render :partial => "common/csv", :locals => {:path => game_results_path(@game, :format => :csv) } %>
<p><%= link_to 'Экспортировать в HTML', simple_results_path, request.parameters.merge({:format => :html}) %></p>
<% end %>
</div>
<% end %>


<p><%= link_to 'Готово, больше результатов нет', home_path if changeable %></p>
