<table id="result_table">
  <tr>
    <th>Команда</th>
<% for question_in_tour in 1..@game.num_questions %>
<th><%= (@tour-1)*@game.num_questions+question_in_tour %></th>
<% end %>
    <th>Сумма</th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.team.name %></td>
<% for item in result.items_for_tour_sorted(@tour) %>
    <td><%= item.score %></td>
<% end %>
	<td><%= result.score_for_tour(@tour) %></td>
  </tr>
<% end %>
</table>

<%= render :partial => "tour_navigator", :locals => {:game => @game, :current_tour => @tour } %>
