<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= context_array @context_array %></title>
</head>
<body>
<table border="1">
  <tr>
      <th>Место</th>
      <th>Команда</th>
      <th>Город</th>
      <th>Капитан</th>
      <% for i in 1..@game.num_tours -%>
        <th><%="Тур#{i}"-%></th>
      <% end -%>
      <th>Сумма</th>
  </tr>
  <% @results.each do |result| %>
  <tr>
      <td><%=h result.place_to_s -%></td>
      <td><%=h result.team.name -%></td>
      <td><%=h result.team.city -%></td>
      <td><%=h result.cap_name %></td>
      <% for tour in 1..@game.num_tours -%>
        <td><%="#{result.score_for_tour(tour)}"-%></td>
      <% end -%>
      <td><%=h result.score -%></td>
  </tr>
  <% end %>
</table>
</body>
</html>
