<% form_for(@event) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :game_id, :value => @game.id %>
  <p>
    <%= f.label "Город" %><br />
    <%= collection_select(:event, :city_id, @cities, :id, :name) %> 
  </p>
  <p>
    <%= f.label "Дата игры" %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label "Ведущий" %><br />
    <%= f.text_field :moderator_name %>
  </p>
  <p>
    <%= f.label "email ведущего" %><br />
    <%= f.text_field :moderator_email %>
  </p>
  <p>
    <%= f.label "Представитель" %><br />
    <%= f.label current_user.name %> (<%= f.label current_user.email %>)<br />
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </p>
	<% unless @event.new_record? %>
  <p>
    <%= f.label "Статус заявки" %><br />
	<span id='event_status_<%= @event.id %>'><%= f.label @event.event_status.name %></span><br />
  </p>
	<% end %>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>
<%= render :partial => "change_status", :locals => { :event => @event } %>
<%= link_to_function 'Назад', 'history.back()' %>