<% form_for(@event) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :game_id, :value => @game.id %>
  <p>
    <%= f.label "Город" %><br />
    <%= collection_select(:event, :city_id, @cities, :id, :name) %> 
  </p>
  <p>
    <%= f.label "Дата игры" %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label "Ведущий" %><br />
    <%= f.text_field :moderator_name %>
  </p>
  <p>
    <%= f.label "email ведущего (если их несколько - через запятую)" %><br />
    <%= f.text_field :moderator_email %>
  </p>
  <p>
    <%= f.label "Ответственный" %><br />
    <%= f.text_field :resp_name %>
  </p>
  <p>
    <%= f.label "email ответственного (если их несколько - через запятую)" %><br />
    <%= f.text_field :resp_email %>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>