<%= javascript_include_tag "jquery-ui-1.8.15.custom.min" %>
<%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.15.custom.css' %>

<% changeable = can_submit_results? @event %>


<% if changeable %>
<div id="result_helpers">
    <%= link_to_function "Загрузить составы, указанные в рейтинге", "load_casts_from_rating(#{@event.id})" %>
</div>
<% end %>

<div id="add_player_fm">

  <% form_remote_tag (:url => {:controller => 'plays', :action=>"create"}, :html => {:id=>"add_fm"})  do %>
      <%= hidden_field(:team, :id) %>
      <%= hidden_field_tag 'event_id', @event.id, :id=>'event_id' %>
      <%= hidden_field_tag 'player_id', '', :id=>'player_id' %>
         <%= label_tag "Фамилия" %>
          <%= text_field_tag "lastName" %>
          <div class="auto_complete_box" id="ac_container"></div>
      <%= label_tag "Имя" %>
      <%= text_field_tag "firstName" %>
      <%= label_tag "Отч." %>
      <%= text_field_tag "patronymic" %>
		<br/>
        начните набирать фамилию, система Вам подскажет&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= submit_tag 'Добавить', :confirm => 'Вы уверены что этого игрока нет в списке?' %>
	<%= button_to_function "Отменить", "hide_add_player_fm()" %>
  <% end %>
</div>



<table id="result_table" width="1020" >
  <tr>
    <th>Команда</th>
    <th>Капитан</th>
    <th></th>
    <th width="620px"></th>
  </tr>
  <% @results.each do |result| %>

  <tr>
    <td ALIGN="LEFT"><strong><%=h result.team.name %></strong></td>
	<td></td>
    <td ALIGN="LEFT"><%= link_to_function "добавить игрока", "show_add_player_fm(#{result.team.id})" %></td>
    <td rowspan=<%=result.team.plays.size+1%>><div id="add_player_<%= result.team.id %>"></div></td>
  </tr>


  <% if result.team.plays.size > 0 %>
     <% result.team.plays.each do |play| %>
       <% @player = Player.find(play.player_id)%>
       <tr>
        <td ALIGN="LEFT"><%= "#{@player}" %></td>
        <td>
          <%
          @checked = false
          if (!play.status.nil? && play.status == 'captain')
            @checked = true
          end
          %>
          <%= radio_button "captain_#{result.team.id}",
                           "captain",
                           "yes",
                            :onclick => "set_captain(#{play.id},#{play.team_id})",
                            :checked => @checked
          %>
        </td>
        <td ALIGN="LEFT">
            <%= link_to 'убрать', {:action => "destroy", :controller => "plays", :id => play.id, :event_id => @event.id }, :confirm => 'Вы уверены?', :method => :delete%>
        </td>
       </tr>
     <% end %>
  <% end %>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <% end %>

</table>

<p><%= link_to 'Готово, все составы введены', home_path if changeable %></p>