<h1>Изменить регистрацию на <%= @event.game.name %> турнира  <%= @event.game.tournament.name%></h1>

<%= render :partial => "input" %>

<%= link_to 'Детали', @event %>
<%= link_to 'Все игры этапа', game_events_path(@event.game) %>