<h1>Регистрации / <%= link_to @game.to_s, @game %></h1>

<table>
  <tr>
    <th>Город</th>
    <th>Дата</th>
    <th>Ведущий</th>
    <th>email ведущего</th>
    <th>Ответственный</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.city.name, event_path(event) %></td>
    <td><%=h event.date %></td>
    <td><%=h event.moderator_name %></td>
    <td><%=h event.moderator_email %></td>
    <td><%=h event.user %></td>
<% if is_org? event.game.tournament %>
    <td><%= link_to 'Изменить', edit_event_path(event) %>
    <%= link_to 'Удалить', event, :confirm => 'Вы уверены?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>
