<table>
  <tr>
    <th>Город</th>
    <th>Страна</th>
    <th>Дата</th>
<% if @game.tournament.time_required -%>
	<th>Время</th>
<% end %>
    <th>Ведущий</th>
    <th>Email ведущего</th>
    <th>Представитель</th>
    <th>Email представителя</th>
	<th>Команд</th>
	<th>IP</th>
	<th>Дополнительная информация</th>
	<th>Статус заявки/изменить</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.city.name, event_path(event) %></td>
    <td><%= event.city.country %></td>
    <td><%= event.date.loc %></td>
<% if @game.tournament.time_required -%>
	<td><%= event.game_time %></td>
<% end %>
    <td><%= event.get_moderator_name %></td>
    <td><%= event.get_moderator_email %></td>
    <td><%= event.user.name %></td>
    <td><%= event.user.email %></td>
    <td><%= event.num_teams %></td>
    <td><%= event.ips %></td>
    <td><%= event.more_info %></td>
	<td><span id='event_status_<%= event.id %>'><%=h event.event_status.name -%></span><%= render :partial => "change_status", :locals => { :event => event } %>
	</td>
	<td>
	<%= link_to 'Изменить', edit_event_path(event) -%>
    <%= link_to 'Удалить', event, :confirm => 'Вы уверены?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>
<%= render :partial => "common/csv", :locals => {:path => game_events_path(@game, :format => :csv) } %>
<p><%= link_to_remote( "Адреса всех ведущих, чьи заявки приняты", :url =>{ :controller => :games, :action => :get_approved_moderator_emails, :id => @game.id}) %><br/>
<span id='moderator_emails'></span></p>
<p><%= link_to_remote( "Адреса всех представителей, чьи заявки приняты", :url =>{ :controller => :games, :action => :get_approved_resp_emails, :id => @game.id}) %><br/>
<span id='resp_emails'></span></p>