<table>
  <tr>
    <th>Город</th>
    <th>Дата</th>
    <th>Ведущий</th>
    <th>Email ведущего</th>
    <th>Представитель</th>
    <th>Email представителя</th>
	<th>Статус заявки</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.city.name, event_path(event) %></td>
    <td><%=h event.date.loc %></td>
    <td><%=h event.moderator_name %></td>
    <td><%=h event.moderator_email %></td>
    <td><%=h event.user.name %></td>
    <td><%=h event.user.email %></td>
	<td><span id='event_status_<%= event.id %>'><%=h event.event_status.name -%></span></td>
    <td>
	<%= render :partial => "change_status", :locals => { :event => event } %>
	</td>
	<td>
	<%= link_to 'Изменить данные', edit_event_path(event) %>
    <%= link_to 'Удалить', event, :confirm => 'Вы уверены?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>
<p><%= link_to "Экспортировать в CSV", game_events_path(@game, :format => :csv) %></p>
