<p>
<b>Турнир:</b>
<%= link_to @event.game.tournament.name, @event.game.tournament %>
</p>
<p>
<b>Игра:</b>
<%= link_to @event.game.name, @event.game %>
</p>

<p>
<b>Город:</b>
<%=h @event.city.name %>
</p>
<p>
<b>Страна:</b>
<%=h @event.city.country %>
</p>
<p>
<b>Дата:</b>
<%=h @event.date.loc %>
</p>

<p>
<b>Ведущий:</b>
<%=h @event.moderator_name %>
</p>

<p>
<b>Email ведущего:</b>
<%=h @event.moderator_email %>
</p>

<p>
<b>Представитель:</b>
<%=h @event.user.name %>
</p>

<p>
<b>Email представителя:</b>
<%=h @event.user.email %>
</p>

<p>
<b>Статус заявки:</b>
<%=h @event.event_status %>
</p>

<%= link_to 'Все игры этапа', game_events_path(@event.game) %>
<%= link_to 'Изменить данные', edit_event_path(@event) if is_resp? @event %>
<% if is_resp? @event %>
<%= link_to 'Спорные ответы', event_disputeds_path(@event) %>
<%= link_to 'Апелляции', event_appeals_path(@event) %>
<%= link_to 'Результаты', event_results_path(@event) %>
<% end %>
