<p>
<b>Турнир:</b>
<%= link_to @event.game.tournament.name, @event.game.tournament %>
</p>
<p>
<b>Игра:</b>
<%= link_to @event.game.name, @event.game %>
</p>

<p>
<b>Город:</b>
<%=h @event.city.name %>
</p>
<p>
<b>Дата:</b>
<%=h @event.date.loc %>
</p>
<% if @event.game.tournament.time_required -%>
<p>
<b>Время:</b>
<%=h @event.game_time %>
</p>
<% end %>
<p>
<b>Ведущий:</b>
<%=h @event.get_moderator_name %>
</p>

<p>
<b>Email ведущего:</b>
<%=h @event.get_moderator_email %>
</p>

<p>
<b>Доп. Email ведущего:</b>
<%=h @event.get_moderator_email2 %>
</p>

<p>
<b>Представитель:</b>
<%=h @event.user.name %>
</p>

<p>
<b>Email представителя:</b>
<%=h @event.user.email %>
</p>
<p>
<b> Команд:</b>
<%=h @event.num_teams %>
</p>
<p>
<b>Отчет (спорные/апелляции/результаты/составы):</b>
<%=h @event.get_report_status %>
</p>
<% if is_org? @event.game.tournament %>
<p>
<b> IP, с которых была подана (и изменена) заявка:</b>
<%=h @event.ips %>
</p>
<% end %>
<p>
<b>Дополнительная информация:</b>
<%=h @event.more_info %>
</p>
<p>
<b>Статус заявки:</b>
<span id='event_status_<%= @event.id %>'><%=h @event.event_status.name -%></span>
</p>

<% if @event.game.tournament.payments %>
<p>
<b>Платеж совершен:</b>
<%=h @event.payment_done.loc if @event.payment_done %>
</p>
<p>
<b>Сумма, валюта:</b>
<%=h @event.payment_amount %>
</p>
<p>
<b>Способ оплаты:</b>
<%=h @event.payment_way %>
</p>
<% end %>

<%= link_to 'Все заявки', game_events_path(@event.game) %>
<%= link_to 'Изменить', edit_event_path(@event) if is_resp? @event %>
<% if @event.game.tournament.payments %>
<%= link_to 'Изменить информацию об оплате', event_payment_path(@event) %>
<% end %>
<% if is_resp? @event %>
<%= link_to 'Спорные ответы', event_disputeds_path(@event) %>
<%= link_to 'Апелляции', event_appeals_path(@event) %>
<%= link_to 'Результаты', event_results_path(@event) %>
<% end %>

<% if @event.game.tournament.needTeams %>
<%=  link_to 'Составы', event_casts_path(@event) %>
<% end %>
<%= render :partial => "change_status", :locals => { :event => @event } %>