<% if !@appeal.nil? %>
<h3>Добавить апелляцию</h3>
<% form_for(@appeal) do |f| %>
<%= f.hidden_field :event_id, :value => @event.id %>

  <%= f.error_messages %>

  <p>
    <%= f.label "Номер вопроса (сквозной)" %><br />
    <%= f.select ( :question_index, options_for_select(1.upto(@game.num_questions*@game.num_tours), :selected => @appeal.question_index.to_i)) %>
  </p>
<% if @event.game.tournament.appeal_for_dismiss %>
  <p>
    <%= f.label "Апелляция на" %><br />
    <%= f.select ( :goal, options_for_select(['зачет', 'снятие'], :selected => @appeal.goal)) %>
  </p>
<% else %>
	<%= f.hidden_field :goal, :value => 'зачет' %>
<% end %>
  <p>
    <%= f.label "Ответ" %><br />
    <%= f.text_field :answer %>
  </p>
  <p>
    <%= f.label "Аргументация" %><br />
    <%= f.text_area :argument %>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>
<% end %>