<table>
  <tr>
    <th>Номер вопроса</th>
    <th>Ответ</th>
    <th>Апелляция на</th>
    <th>Аргументация</th>
  </tr>

<% changeable = can_submit_appeal? @event %>
<% @appeals.each do |appeal| %>
  <tr>
    <td><%=h appeal.question_index %></td>
    <td><%=h appeal.answer %></td>
    <td><%=h appeal.goal %></td>
    <td><%=h appeal.argument %></td>
	<% if changeable %>
    <td><%= link_to 'Изменить', edit_event_appeal_path(appeal.event, appeal) %>
    <%= link_to 'Удалить', appeal, :confirm => 'Вы уверены?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
<p><%= link_to "Экспортировать в CSV", game_appeals_path(@game, :format => :csv) %></p>
<p><%= link_to "Экспортировать как текст", game_appeals_path(@game, :format => :txt) %></p>
<br />
<% if changeable %>
<%= render :partial => "input" %>
<% end %>