<% changeable = can_submit_appeal? @event %>

<% @appeals.each do |appeal| %>
<p><b>Номер вопроса:</b> <%= appeal.question_index %><br/>
<b>Ответ команды:</b> <%= appeal.answer %><br/>
<b>Желаемый вердикт:</b> <%= appeal.goal %><br/>
<b>Аргументация:</b><%= (h appeal.argument).gsub("\n", '<br/>'.html_safe) if appeal.argument %></textarea><br/>
<% if changeable %>
<%= link_to 'Изменить', edit_event_appeal_path(appeal.event, appeal) %>
<%= link_to 'Удалить', appeal, :confirm => 'Вы уверены?', :method => :delete %>
<% end %>
</p>
<% end %>

<br />
<% if changeable %>
<%= render :partial => "input" %>
<% end %>

<% unless @event %>
<p><%= link_to "Экспортировать в CSV", game_appeals_path(@game, :format => :csv) %></p>
<p><%= link_to "Экспортировать как текст", game_appeals_path(@game, :format => :txt) %></p>
<% end %>