<% changeable = can_submit_appeal? @event %>

<% @appeals.each do |appeal| %>
<p><b>Номер вопроса: </b> <%= appeal.question_index %><br/>
<b>Из какого города: </b> <%=h link_to appeal.event.city.name, event_path(appeal.event) %><br/>
<b>Ответ команды: </b> <%= appeal.answer %><br/>
<b>Желаемый вердикт: </b> <%= appeal.goal %><br/>
<%= render :partial => "common/longtext", :locals => {:title => "Аргументация", :value => appeal.argument} %>
<% if changeable %>
<%= link_to 'Изменить', edit_event_appeal_path(appeal.event, appeal) %>
<%= link_to 'Удалить', appeal, :confirm => 'Вы уверены?', :method => :delete %>
<% end %>
</p>
<% end %>

<br />
<% if changeable %>
<%= render :partial => "input" %>
<% end %>

<% unless @event %>
<%= render :partial => "common/csv", :locals => {:path => game_appeals_path(@game, :format => :csv) } %>
<p><%= link_to "Экспортировать как текст", game_appeals_path(@game, :format => :txt) %></p>
<p><%= link_to 'Экспортировать спорные и апелляции в один файл', appeals_and_controversial_path, request.parameters.merge({:format => :txt}) %></p>
<% end %>