<% org = is_org? @tournament %>
<h3>Этапы</h3> <%= link_to 'Новый этап', new_tournament_game_path(@tournament) if is_org? @tournament %>

<% if @tournament.games.length > 0 %>
<table id="table_games">
  <tr>
	<th>Название</th>
    <th>Туров</th>
    <th>Вопросов в туре</th>
    <th>Регистрация с</th>
    <th>Регистрация до</th>
    <th>Cпорные до</th>
    <th>Апелляции до</th>
    <th>Результаты до</th>
<% if org %>
    <th>Cпорные видны</th>
    <th>Апелляции видны</th>
    <th>Результаты видны</th>
<% end %>
  </tr>

<% @tournament.games.sort{|x,y|x.begin <=> y.begin}.each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%=h game.num_tours %></td>	
    <td><%=h game.num_questions %></td>	
    <td><%=h game.begin.loc %></td>
    <td><%=h game.end.loc %></td>
    <td><%=h game.submit_disp_until.loc %></td>
    <td><%=h game.submit_appeal_until.loc %></td>
    <td><%=h game.submit_results_until.loc %></td>
<% if org %>
    <td><%=h game.publish_disp.loc %></td>
    <td><%=h game.publish_appeal.loc %></td>
    <td><%=h game.publish_results.loc %></td>
<% end %>
	<td>
	<%= link_to 'Зарегистрироваться', new_game_event_path(game) if can_register? game %>
	</td>
<% if org %>
	<td>
	<%= link_to 'Все заявки', game_events_path(game) %>
    <%= link_to 'Изменить', edit_game_path(game) %>
    <%= link_to 'Удалить', game, :confirm => 'Вы уверены?', :method => :delete %>
	</td>
<% end %>
  </tr>
<% end %>
</table>
<% end %>