<% form_for(@game) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :tournament_id, :value => @tournament.id %>
 <p>
   <%= f.label "Название (например '3 этап')" %><br />
   <%= f.text_field :name %>
 </p>
 <p>
   <%= f.label "Количество туров" %><br />
   <%= f.text_field :num_tours %>
 </p>
 <p>
   <%= f.label "Количество вопросов в туре" %><br />
   <%= f.text_field :num_questions %>
 </p>
 <p>
   <%= f.label "Начало регистрации" %><br />
   <%= f.date_select :begin %>
 </p>
 <p>
   <%= f.label "Конец регистрации" %><br />
   <%= f.date_select :end %>
 </p>
 <p>
   <%= f.label "Прием спорных до" %><br />
   <%= f.date_select :submit_disp_until %>
 </p>
 <p>
   <%= f.label "Прием апелляций до:" %><br />
   <%= f.date_select :submit_appeal_until %>
 </p>
 <p>
   <%= f.label "Прием результатов до до:" %><br />
   <%= f.date_select :submit_results_until %>
 </p>
<p>Следующие три настройки означают, что спорные/апелляции/результаты видны <b>любому</b>, пользователю системы. Подумайте, когда их имеет смысл активировать. Возможно пакет пока нельзя светить и поэтому нельзя показывать спорные-апелляции? Возможно не все еще сыграли и поэтому нельзя светить результаты?</p>
 <p>
   <%= f.label "Спорные видны всем" %><br />
   <%= f.check_box :publish_disp %>
 </p>
 <p>
   <%= f.label "Апелляции видны всем:" %><br />
   <%= f.check_box :publish_appeal %>
 </p>
 <p>
   <%= f.label "Результаты видны всем:" %><br />
   <%= f.check_box :publish_results %>
 </p>
 <p>
   <%= f.submit 'Сохранить' %>
 </p>
<% end %>
<%= link_to_function 'Назад', 'history.back()' %>