<h1>Игры / <%= link_to @tournament.to_s, @tournament %></h1>

<% if @games.length > 0 %>
<table>
  <tr>
	<th>Название</th>
    <th>Туров</th>
    <th>Вопросов в туре</th>
    <th>Регистрация с</th>
    <th>Регистрация до</th>
    <th>Cпорные до</th>
    <th>Апелляции до</th>
    <th>Результаты до</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h game.name %></td>
    <td><%=h game.num_tours %></td>	
    <td><%=h game.num_questions %></td>	
    <td><%=h eu_date(game.begin) %></td>
    <td><%=h eu_date(game.end) %></td>
    <td><%=h eu_date(game.submit_disp_until) %></td>
    <td><%=h eu_date(game.submit_appeal_until) %></td>
    <td><%=h eu_date(game.submit_results_until) %></td>
	<td><%= link_to 'Зарегистрироваться', new_game_event_path(game) if game.registrable %></td>
    <td><%= link_to 'Детали', game %></td>
<% if is_org? @tournament %>
	<td><%= link_to 'Все регистрации', game_events_path(game) %></td>
    <td><%= link_to 'Изменить', edit_game_path(game) %></td>
    <td><%= link_to 'Удалить', game, :confirm => 'Вы уверены?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>
<% end %>
<br />
<td><%= link_to 'Новый этап', new_tournament_game_path(@tournament) if is_org? @tournament %></td>
