<p>
<b>Название:</b>
<%=h @game.name %>
</p>
<p>
<b>Туров:</b>
<%=h @game.num_tours %>
</p>
<p>
<b>Вопросов в туре:</b>
<%=h @game.num_questions %>
</p>
<p>
<b>Регистрация с:</b>
<%=h @game.begin.loc if @game.begin %>
</p>

<p>
<b>Регистрация до:</b>
<%=h @game.end.loc if @game.end %>
</p>
<p>
<b>Первый возможный день игры:</b>
<%=h @game.game_begin.loc if @game.game_begin %>
</p>

<p>
<b>Последний возможный день игры:</b>
<%=h @game.game_end.loc if @game.game_end %>
</p>
<p>
<b>Прием спорных до:</b>
<%=h @game.submit_disp_until.loc if @game.submit_disp_until %>
</p>

<p>
<b>Прием апелляций до:</b>
<%=h @game.submit_appeal_until.loc if @game.submit_appeal_until %>
</p>

<p>
<b>Прием результатов до:</b>
<%=h @game.submit_results_until.loc if @game.submit_results_until %>
</p>

<% if is_org? @game.tournament %>

<p>
<b>Ссылка на страницу подачи заявки для потенциальных участников:</b>
<% url = url_for(:action => 'new', :controller => game_events_path(@game), :only_path => false) %>
<input type="text" id="registration_link" size="<%= url.length + 15 %>" value="<%=h url  %>" />
</p>

<p>
<b>Cпорные видны:</b>
<%=h @game.publish_disp.loc %>
</p>

<p>
<b>Апелляции видны:</b>
<%=h @game.publish_appeal.loc %>
</p>

<p>
<b>Результаты видны:</b>
<%=h @game.publish_results.loc %>
</p>

<% end %>

<%= link_to 'Зарегистрироваться', new_game_event_path(@game) if can_register? @game %>
<% if is_org? @game.tournament %>
<%= link_to 'Все заявки', game_events_path(@game) %>
<%= link_to 'Спорные ответы', game_disputeds_path(@game) %>
<%= link_to 'Апелляции', game_appeals_path(@game) %>
<%= link_to 'Результаты', game_results_path(@game) %>
<%= link_to 'Изменить', edit_tournament_game_path(@game.tournament, @game) %>
<% end %>