<p>
<b>Название:</b>
<%=h @game.name %>
</p>
<p>
<b>Туров:</b>
<%=h @game.num_tours %>
</p>
<p>
<b>Вопросов в туре:</b>
<%=h @game.num_questions %>
</p>
<p>
<b>Регистрация:</b>
<%=h render_date_interval(@game.begin, @game.end) %>
</p>
<p>
<b>Игра:</b>
<%=h render_date_interval(@game.game_begin, @game.game_end) %>
</p>
<p>
<b>Прием спорных:</b>
<%=h render_date_interval(@game.submit_disp_from, @game.submit_disp_until) %>
</p>
<p>
<p>
<b>Прием апелляций:</b>
<%=h render_date_interval(@game.submit_appeal_from, @game.submit_appeal_until) %>
</p>
<p>
<p>
<b>Прием результатов:</b>
<%=h render_date_interval(@game.submit_results_from, @game.submit_results_until) %>
</p>
<p>

<% if is_org? @game.tournament %>
<p>
<b>Ссылка на страницу подачи заявки для потенциальных участников:</b>
<% url = url_for(:action => 'new', :controller => game_events_path(@game), :only_path => false) %>
<input type="text" id="registration_link" size="<%= url.length + 15 %>" value="<%=h url  %>" />
</p>

<% if @game.tournament.calc_system.short_name == 'sl'%>
<b>Дежурный город:</b>
<%=h City.find @game.city_id if @game.city_id %>
<% end %>

<p>
<b>Cпорные видны:</b>
<%=h @game.publish_disp.loc %>
</p>

<p>
<b>Апелляции видны:</b>
<%=h @game.publish_appeal.loc %>
</p>

<p>
<b>Результаты видны:</b>
<%=h @game.publish_results.loc %>
</p>

<% end %>

<% @game.events.select{|e|e.user == current_user}.each do |event| %>
<p><%= link_to event, event_path(event) %></p>
<% end %>

<%= render :partial => "common/longtexts", :locals => {:longtexts => @game.longtexts} %>
<%= render :partial => "common/links", :locals => {:links => @game.links} %>

<%= link_to 'Зарегистрироваться', new_game_event_path(@game) if can_register? @game %>
<% if is_org? @game.tournament %>
<%= link_to 'Все заявки', game_events_path(@game) %>
<%= link_to 'Спорные ответы', game_disputeds_path(@game) %>
<%= link_to 'Апелляции', game_appeals_path(@game) %>
<%= link_to 'Результаты', game_results_path(@game) %>
<% if @game.tournament.needTeams %>
<%=  link_to 'Составы', game_casts_path(@game) %>
<% end %>
<%= link_to 'Изменить', edit_tournament_game_path(@game.tournament, @game) %>
<%= link_to 'Добавить текст', new_game_longtext_path(@game) %>
<%= link_to 'Добавить ссылку', new_game_link_path(@game) %>
<% end %>