<h1>Listing resultitems</h1>

<table>
  <tr>
    <th>Score</th>
  </tr>

<% @resultitems.each do |resultitem| %>
  <tr>
    <td><%=h resultitem.score %></td>
    <td><%= link_to 'Show', resultitem %></td>
    <td><%= link_to 'Edit', edit_resultitem_path(resultitem) %></td>
    <td><%= link_to 'Destroy', resultitem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New resultitem', new_resultitem_path %>