<h1>New resultitem</h1>

<% form_for(@resultitem) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', resultitems_path %>