<% if logged_in? %>
  <p>Привет, <%=h current_user.name %><br/><%= link_to 'Выход', logout_path %></p>
<% else %>
  <p>Вход для зарегистрированных пользователей. Если вы не организатор и не представитель, регистрироваться не надо - используйте email '<%= User.find_by_status('znatok').email%>' и пароль 'znatok'</p>
  <p>
	<%= render :partial => "sessions/login" %>
  </p>
<p>  <%= link_to 'Зарегистрироваться', signup_path %></p>
<p> <%= link_to 'Я забыл(а) пароль', forgot_path %></p>
<% end %>