<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Синхронотоп - система учета информации для синхронных турниров по спортивному "Что? Где? Когда?"</title>
  <!--<%= stylesheet_link_tag 'reset' %>-->
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'chgk' %>
  <%= javascript_include_tag "prototype" %>
</head>
<body>
<div id="user_info">
<%= render :partial => "layouts/user_info" %>
</div>
<div id="mesages">
<%= render :partial => "layouts/mesages" %>
</div>
<div id="menu">
<%= render :partial => "layouts/menu" %>
</div>
<div id="context">
<%= render :partial => "layouts/context" %>
</div>

<div id="content">
<%= yield %>
</div>

</body>
</html>
